@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'IRANYekan', 'Tahoma', 'Arial', sans-serif;
        direction: rtl;
    }
    
    body {
        font-family: 'IRANYekan', 'Tahoma', 'Arial', sans-serif;
        direction: rtl;
    }
}

@layer components {
    .font-iran {
        font-family: 'IRANYekan', 'Tahoma', 'Arial', sans-serif !important;
    }
}